In [11]:
import pandas as pd

pop = pd.read_csv("../3_데이터_자료/대한민국 전체 인구.csv")
pop_region_raw = pd.read_csv("../3_데이터_자료/시,군,구별 전체 인구 합계.csv")
pop_region_65_over_raw = pd.read_csv("../3_데이터_자료/시,군,구별 65세 이상 고령자 및 독거노인.csv")
kiosk_raw = pd.read_csv("../3_데이터_자료/무인민원발급기 설치 정보.csv")

In [12]:
# 대한민국 전체 인구 데이터가 잘 올라왔는지 확인
pop.head()

   행정구역별(읍면동)  연령별      2024
0  행정구역별(읍면동)  연령별    총인구(명)
1          전국   합계  51805547

In [13]:
# 시,군,구별 전체 인구 합계 데이터가 잘 올라왔는지 확인
pop_region_raw.head()

   행정구역별(읍면동)  연령별     2024
0  행정구역별(읍면동)  연령별   총인구(명)
1       서울특별시   합계  9335444
2         종로구   합계   144486
3          중구   합계   126899
4         용산구   합계   203401

In [14]:
# 시,군,구별 65세 이상 고령자 및 독거노인 데이터가 잘 올라왔는지 확인
pop_region_65_over_raw.head()

   행정구역별(시군구)  성별  세대구성별     2024   2024.1   2024.2   2024.3  2024.4
0  행정구역별(시군구)  성별  세대구성별   65~69세   70~74세   75~79세   80~84세   85세이상
1          전국   계      계  3492058  2313594  1713222  1250747  896879
2          전국   계   1인가구   698584   502848   419657   364762  302956
3          읍부   계      계   348142   232161   174384   132863  100636
4          읍부   계   1인가구    72245    51848    44072    40310   35111

In [15]:
# 무인민원발급기 설치 정보 데이터가 잘 올라왔는지 확인
kiosk_raw.head()

,개방자치단체코드,관리번호,데이터갱신구분,관리기관명,발급기명,설치장소주소,설치장소상세위치,평일운영시작시각,평일운영종료시각,공휴일운영시작시각,...,설치장소위치,도로시군구코드,도로코드,도로명읍면동번호,도로건물층구분,도로건물본번호,도로건물부번호,등기사항증명서발급구분,가족관계삭제발급구분,데이터갱신시점
0,3000000,525,I,서울특별시 종로구,싱가폴대사관,"서울특별시 종로구 종로1길 36, 종로구청 (수송동)",싱가포르대사관,0:00,2400,0:00,...,기타,11110,4100312,2.0,0,36,NaN,미발급,미발급,2026.1.16 18:34
1,3000000,103,I,서울특별시 종로구,종로구청 상황실,"서울특별시 종로구 종로1길 36, 대림빌딩 (수송동)",종로구청 상황실,0:00,2400,0:00,...,시군구,11110,4100312,2.0,0,36,NaN,미발급,발급,2026.1.16 18:34
2,3000000,102,I,서울특별시 종로구,종로구청 부동산정보과2,"서울특별시 종로구 종로1길 50, 더케이트윈타워 B동 5층 (중학동)",민원실외부,9:00,18:00,NaN,...,시군구,11110,4100312,3.0,0,50,NaN,발급,발급,2026.1.16 18:34
3,3000000,518,I,서울특별시 종로구,올림픽기념국민생활관,서울특별시 종로구 성균관로 91(혜화동),1층 로비,6:00,21:00,9:00,...,문화복지센터,11110,3100008,2.0,0,91,NaN,미발급,발급,2026.1.16 18:34
4,3000000,502,I,서울특별시 종로구,종로구청 민원실1,"서울특별시 종로구 종로1길 36, 대림빌딩 (수송동)",민원실 외부,9:00,18:00,NaN,...,시군구,11110,4100312,2.0,0,36,NaN,발급,발급,2026.1.16 18:34

In [16]:
## 행정구역별 인구수 합계 데이터 전처리
df = pop_region_raw.copy()

# 2024열의 모든 값을 숫자로 변환하고 숫자로 바꿀 수 없는것은 NaN(결측치)로 처리
df["2024"] = pd.to_numeric(df["2024"], errors = "coerce")

# 2024열이 결측치인 행 제거
df = df.dropna(subset=["2024"])

# 2024열의 값들을 소수점 없이 정수로 맞춤
df["2024"] = df["2024"].astype(int)

df.head()

  행정구역별(읍면동) 연령별     2024
1      서울특별시  합계  9335444
2        종로구  합계   144486
3         중구  합계   126899
4        용산구  합계   203401
5        성동구  합계   274688

In [17]:
# 행정구역 1레벨 이름 목록 리스트
sido = ["서울특별시", "부산광역시", "대구광역시", "인천광역시", "광주광역시", "대전광역시", "울산광역시", "세종특별자치시",
        "경기도", "강원특별자치도", "충청북도", "충청남도", "전북특별자치도", "전라남도", "경상북도", "경상남도", "제주특별자치도"]

# sido 리스트에 들어있는 값이면 그대로 두고, 아니면 NaN으로 바꿈
# 원본값.where(조건) 조건이 TRUE인 칸은 원래 값 유지, 조건이 FALSE인 칸은 NaN으로 바꿈
df["시도"] = df["행정구역별(읍면동)"].where(df["행정구역별(읍면동)"].isin(sido))

# 시도 열의 자료형을 문자열로 확정한 다음, 위에서 아래로 내려가며 NaN을 바로 위의 값으로 채움
df["시도"] = df["시도"].astype("string").ffill()
df.head()

  행정구역별(읍면동) 연령별     2024     시도
1      서울특별시  합계  9335444  서울특별시
2        종로구  합계   144486  서울특별시
3         중구  합계   126899  서울특별시
4        용산구  합계   203401  서울특별시
5        성동구  합계   274688  서울특별시

In [18]:
# 행정구역별(읍면동) 열의 값이 sido 리스트에 포함된 행은 TRUE가 되는데 앞에 ~를 붙여 FALSE로 만들고 TRUE인 행만 남김
df = df[~df["행정구역별(읍면동)"].isin(sido)].copy()
df.head(100)

    행정구역별(읍면동) 연령별    2024     시도
2          종로구  합계  144486  서울특별시
3           중구  합계  126899  서울특별시
4          용산구  합계  203401  서울특별시
5          성동구  합계  274688  서울특별시
6          광진구  합계  345130  서울특별시
..         ...  ..     ...    ...
105        장안구  합계  280812    경기도
106        권선구  합계  370600    경기도
107        팔달구  합계  208817    경기도
108        영통구  합계  364750    경기도
109        성남시  합계  900867    경기도

[100 rows x 4 columns]

In [19]:
# 세종특별자치시는 행정구역 2레벨이 없는 예외라서 데이터 전처리가 잘 되었는지 다시 한번 확인
df[df["행정구역별(읍면동)"].str.contains("세종", na=False)]

   행정구역별(읍면동) 연령별    2024       시도
99        세종시  합계  390156  세종특별자치시

In [20]:
# 행정구역 열을 새로 만들어서 정확한 행정구역 명칭을 저장
df["행정구역"] = df["시도"] + " " + df["행정구역별(읍면동)"]
df.head(308)

    행정구역별(읍면동) 연령별    2024       시도          행정구역
2          종로구  합계  144486    서울특별시     서울특별시 종로구
3           중구  합계  126899    서울특별시      서울특별시 중구
4          용산구  합계  203401    서울특별시     서울특별시 용산구
5          성동구  합계  274688    서울특별시     서울특별시 성동구
6          광진구  합계  345130    서울특별시     서울특별시 광진구
..         ...  ..     ...      ...           ...
319         읍부  합계  155663  제주특별자치도    제주특별자치도 읍부
320         면부  합계   37598  제주특별자치도    제주특별자치도 면부
321         동부  합계  481556  제주특별자치도    제주특별자치도 동부
322        제주시  합계  493908  제주특별자치도   제주특별자치도 제주시
323       서귀포시  합계  180909  제주특별자치도  제주특별자치도 서귀포시

[306 rows x 5 columns]

In [21]:
# 행정구역별(읍면동)열의 값이 읍부, 면부, 동부인 행은 TRUE가 되는데 
# 앞에 ~를 붙여 FALSE(읍부, 면부, 동부가 이에 해당)로 만들고 TRUE인 값이 포함된 행만 남김
df = df[~df["행정구역별(읍면동)"].isin(["읍부", "면부", "동부"])].copy()

# 필터링 후 인덱스가 중간중간 비어있는 것을 방지하기 위해 0부터 다시 연속 번호로 인덱스를 재설정 
df = df.reset_index(drop=True)

df.head(266)

    행정구역별(읍면동) 연령별    2024       시도          행정구역
0          종로구  합계  144486    서울특별시     서울특별시 종로구
1           중구  합계  126899    서울특별시      서울특별시 중구
2          용산구  합계  203401    서울특별시     서울특별시 용산구
3          성동구  합계  274688    서울특별시     서울특별시 성동구
4          광진구  합계  345130    서울특별시     서울특별시 광진구
..         ...  ..     ...      ...           ...
259        함양군  합계   35073     경상남도      경상남도 함양군
260        거창군  합계   58393     경상남도      경상남도 거창군
261        합천군  합계   38950     경상남도      경상남도 합천군
262        제주시  합계  493908  제주특별자치도   제주특별자치도 제주시
263       서귀포시  합계  180909  제주특별자치도  제주특별자치도 서귀포시

[264 rows x 5 columns]

In [22]:
# 필요없는 열 삭제, 이름이 헷갈리는 열 이름 바꾸기
df = df.drop(columns = ["행정구역별(읍면동)", "연령별", "시도"])
df = df.rename(columns={"2024":"인구 수"})

In [23]:
df.head(300)

       인구 수          행정구역
0    144486     서울특별시 종로구
1    126899      서울특별시 중구
2    203401     서울특별시 용산구
3    274688     서울특별시 성동구
4    345130     서울특별시 광진구
..      ...           ...
259   35073      경상남도 함양군
260   58393      경상남도 거창군
261   38950      경상남도 합천군
262  493908   제주특별자치도 제주시
263  180909  제주특별자치도 서귀포시

[264 rows x 2 columns]

In [24]:
# 행정구역 열에서 NaN이 있어도 문자열로 처리하고 앞뒤 공백을 제거한 후에 문자열이 시, 군, 구로 끝나면 TRUE 아니면 FALSE
mask_end_sigungu = df["행정구역"].astype(str).str.strip().str.endswith(("시","군","구"))

# 앞에 ~을 붙여서 시, 군, 구로 끝나지 않으면 TRUE 아니면 FALSE로 한다음 TRUE인 값만 not_sigungu에 저장
not_sigungu = df[~mask_end_sigungu].copy()
not_sigungu =not_sigungu.reset_index(drop=True)
not_sigungu.head() 

# 행정구역명의 끝이 시, 군, 구로 끝나서 중복되는 행은 없음
# 그렇다면 왜 264개인가? -> 포항시 북구, 창원시 성산구가 따로따로 집계되어 226개보다 더 늘어난것으로 보임

Empty DataFrame
Columns: [인구 수, 행정구역]
Index: []

In [25]:
# 행정구역 열을 전부 문자열로 바꾸고 "\xa0"으로 안깨지는 특수 공백을 일반 공백으로 바꾸고 
# "r"\s+"로 공백 여러개를 하나로 압축하고 .str.strip()로 문자열 앞뒤 공백을 제거함
# 결과적으로 district는 행정구역 정리본임
district = (df["행정구역"].astype(str)
     .str.replace("\xa0", " ", regex=False)
     .str.replace(r"\s+", " ", regex=True)
     .str.strip())

# district 문자열들을 split()을 사용하여 공백 기준으로 나누어 리스트를 만듦
parts = district.str.split()

# parts.str[0]을 사용하여 각 리스트의 첫 단어를 가져오고 parts.str[-1]을 사용하여 각 리스트의 마지막 단어를 가져옴
first = parts.str[0]
last  = parts.str[-1]

# 리스트의 첫 단어가 "도" 또는 "특별자치도" 이고 리스트의 마지막 단어가 "구"인 리스트를 삭제대상으로 만듦
mask_do = first.str.endswith(("도","특별자치도")) & last.str.endswith("구")

print("삭제된 행 개수:", mask_do.sum())

# 앞에 ~을 붙여서 "도"|"특별자치도" + "구"인 문자열들을 FALSE로 만든 다음 삭제
df = df[~mask_do].copy()
df = df.reset_index(drop=True)
df.head(300)

# 시,군,구 개수가 229개인 이유는 226개에서 세종특별자치시와 제주특별자치도 제주시, 서귀포시를 포함한 값임

삭제된 행 개수: 35

       인구 수          행정구역
0    144486     서울특별시 종로구
1    126899      서울특별시 중구
2    203401     서울특별시 용산구
3    274688     서울특별시 성동구
4    345130     서울특별시 광진구
..      ...           ...
224   35073      경상남도 함양군
225   58393      경상남도 거창군
226   38950      경상남도 합천군
227  493908   제주특별자치도 제주시
228  180909  제주특별자치도 서귀포시

[229 rows x 2 columns]

In [26]:
# 전처리된 데이터 저장
df.to_csv("../4_데이터_전처리_자료/시,군,구별 전체 인구 합계 최종.csv", index=False, encoding="utf-8-sig")