In [11]:
import pandas as pd

pop_region_65_over_raw = pd.read_csv("../3_데이터_자료/시,군,구별 65세 이상 고령자 및 독거노인.csv")
pop_region_65_over_raw.head()

   행정구역별(시군구)  성별  세대구성별     2024   2024.1   2024.2   2024.3  2024.4
0  행정구역별(시군구)  성별  세대구성별   65~69세   70~74세   75~79세   80~84세   85세이상
1          전국   계      계  3492058  2313594  1713222  1250747  896879
2          전국   계   1인가구   698584   502848   419657   364762  302956
3          읍부   계      계   348142   232161   174384   132863  100636
4          읍부   계   1인가구    72245    51848    44072    40310   35111

In [12]:
df = pop_region_65_over_raw.copy()

# 2024, 2024.1, 2024.2, 2024.3, 2024.4열의 모든 값을 숫자로 변환하고 숫자로 바꿀 수 없는것은 NaN(결측치)로 처리
cols = ["2024", "2024.1", "2024.2", "2024.3", "2024.4"]
df[cols] = df[cols].apply(pd.to_numeric, errors = "coerce")

# 2024, 2024.1, 2024.2, 2024.3, 2024.4열이 결측치인 행 제거
df = df.dropna(subset=cols)

# 2024, 2024.1, 2024.2, 2024.3, 2024.4열의 값들을 소수점 없이 정수로 맞춤
df[cols] = df[cols].astype(int)
df.head()

  행정구역별(시군구) 성별 세대구성별     2024   2024.1   2024.2   2024.3  2024.4
1         전국  계     계  3492058  2313594  1713222  1250747  896879
2         전국  계  1인가구   698584   502848   419657   364762  302956
3         읍부  계     계   348142   232161   174384   132863  100636
4         읍부  계  1인가구    72245    51848    44072    40310   35111
5         면부  계     계   459228   331687   259150   228963  198463

In [13]:
# 행정구역별(시군구)열의 값이 전국, 읍부, 면부, 동부인 행은 TRUE가 되는데 
# 앞에 ~를 붙여 FALSE(전국, 읍부, 면부, 동부가 이에 해당)로 만들고 TRUE인 값이 포함된 행만 남김
df = df[~df["행정구역별(시군구)"].isin(["전국", "읍부", "면부", "동부"])].copy()

# 필터링 후 인덱스가 중간중간 비어있는 것을 방지하기 위해 0부터 다시 연속 번호로 인덱스를 재설정 
df = df.reset_index(drop=True)
df.head(562)

    행정구역별(시군구) 성별 세대구성별    2024  2024.1  2024.2  2024.3  2024.4
0        서울특별시  계     계  613163  423263  325455  222671  146893
1        서울특별시  계  1인가구  110955   81462   69728   53509   40532
2          종로구  계     계    9131    6119    5080    4038    3014
3          종로구  계  1인가구    1829    1303    1172    1006     808
4           중구  계     계    8322    5603    4525    3422    2488
..         ... ..   ...     ...     ...     ...     ...     ...
557    제주특별자치도  계  1인가구    8328    5358    4328    3583    3572
558        제주시  계     계   28944   17817   14298   10274    8820
559        제주시  계  1인가구    5632    3662    2868    2369    2366
560       서귀포시  계     계   12823    8447    7306    5514    4642
561       서귀포시  계  1인가구    2696    1696    1460    1214    1206

[562 rows x 8 columns]

In [14]:
# 행정구역 1레벨 이름 목록 리스트
sido = ["서울특별시", "부산광역시", "대구광역시", "인천광역시", "광주광역시", "대전광역시", "울산광역시", "세종특별자치시",
        "경기도", "강원특별자치도", "충청북도", "충청남도", "전북특별자치도", "전라남도", "경상북도", "경상남도", "제주특별자치도"]

# sido 리스트에 들어있는 값이면 그대로 두고, 아니면 NaN으로 바꿈
# 원본값.where(조건) 조건이 TRUE인 칸은 원래 값 유지, 조건이 FALSE인 칸은 NaN으로 바꿈
df["시도"] = df["행정구역별(시군구)"].where(df["행정구역별(시군구)"].isin(sido))

# 시도 열의 자료형을 문자열로 확정한 다음, 위에서 아래로 내려가며 NaN을 바로 위의 값으로 채움
df["시도"] = df["시도"].astype("string").ffill()
df.head()

  행정구역별(시군구) 성별 세대구성별    2024  2024.1  2024.2  2024.3  2024.4     시도
0      서울특별시  계     계  613163  423263  325455  222671  146893  서울특별시
1      서울특별시  계  1인가구  110955   81462   69728   53509   40532  서울특별시
2        종로구  계     계    9131    6119    5080    4038    3014  서울특별시
3        종로구  계  1인가구    1829    1303    1172    1006     808  서울특별시
4         중구  계     계    8322    5603    4525    3422    2488  서울특별시

In [15]:
# 행정구역별(시군구) 열의 값이 sido 리스트에 포함된 행은 TRUE가 되는데 앞에 ~를 붙여 FALSE로 만들고 TRUE인 행만 남김
df = df[~df["행정구역별(시군구)"].isin(sido)].copy()
df.head()

  행정구역별(시군구) 성별 세대구성별   2024  2024.1  2024.2  2024.3  2024.4     시도
2        종로구  계     계   9131    6119    5080    4038    3014  서울특별시
3        종로구  계  1인가구   1829    1303    1172    1006     808  서울특별시
4         중구  계     계   8322    5603    4525    3422    2488  서울특별시
5         중구  계  1인가구   1940    1385    1136     942     784  서울특별시
6        용산구  계     계  12540    8232    6509    5010    4182  서울특별시

In [16]:
# 행정구역 열을 새로 만들어서 정확한 행정구역 명칭을 저장
df["행정구역"] = df["시도"] + " " + df["행정구역별(시군구)"]
df = df.reset_index(drop=True)
df.head(528)

,행정구역별(시군구),성별,세대구성별,2024,2024.1,2024.2,2024.3,2024.4,시도,행정구역
0,종로구,계,계,9131,6119,5080,4038,3014,서울특별시,서울특별시 종로구
1,종로구,계,1인가구,1829,1303,1172,1006,808,서울특별시,서울특별시 종로구
2,중구,계,계,8322,5603,4525,3422,2488,서울특별시,서울특별시 중구
3,중구,계,1인가구,1940,1385,1136,942,784,서울특별시,서울특별시 중구
4,용산구,계,계,12540,8232,6509,5010,4182,서울특별시,서울특별시 용산구
...,...,...,...,...,...,...,...,...,...,...
523,합천군,계,1인가구,1192,1007,993,1280,1277,경상남도,경상남도 합천군
524,제주시,계,계,28944,17817,14298,10274,8820,제주특별자치도,제주특별자치도 제주시
525,제주시,계,1인가구,5632,3662,2868,2369,2366,제주특별자치도,제주특별자치도 제주시
526,서귀포시,계,계,12823,8447,7306,5514,4642,제주특별자치도,제주특별자치도 서귀포시
527,서귀포시,계,1인가구,2696,1696,1460,1214,1206,제주특별자치도,제주특별자치도 서귀포시

In [17]:
# 필요없는 열 삭제
df = df.drop(columns = ["행정구역별(시군구)", "성별", "시도"])
df.head()

  세대구성별   2024  2024.1  2024.2  2024.3  2024.4       행정구역
0     계   9131    6119    5080    4038    3014  서울특별시 종로구
1  1인가구   1829    1303    1172    1006     808  서울특별시 종로구
2     계   8322    5603    4525    3422    2488   서울특별시 중구
3  1인가구   1940    1385    1136     942     784   서울특별시 중구
4     계  12540    8232    6509    5010    4182  서울특별시 용산구

In [18]:
# df.columns(열 이름들)을 하나씩 꺼내서 c에 담으면서 반복함
# 그중에서 열 이름을 문자열로 봤을 때 2024로 시작하는 열만 골라서 리스트로 모음 (c는 그냥 임시 변수 이름)
year_cols = [i for i in df.columns if str(i).startswith("2024")]

# year_cols에 들어있는 2024 관련 열들만 뽑아서 각 행(axis=1) 기준으로 가로로 전부 더한 값을 새로운 열 고령 인구 수에 저장
# skipna=True라서 중간에 NaN은 무시하고 합산함
df["고령 인구 수"] = df[year_cols].sum(axis=1, skipna=True)
df.head()

  세대구성별   2024  2024.1  2024.2  2024.3  2024.4       행정구역  고령 인구 수
0     계   9131    6119    5080    4038    3014  서울특별시 종로구    27382
1  1인가구   1829    1303    1172    1006     808  서울특별시 종로구     6118
2     계   8322    5603    4525    3422    2488   서울특별시 중구    24360
3  1인가구   1940    1385    1136     942     784   서울특별시 중구     6187
4     계  12540    8232    6509    5010    4182  서울특별시 용산구    36473

In [19]:
# 고령자(계)와 독거노인(1인가구) 분리하고 행정구역과 고령 인구 수 열만 선택하여 저장
elder = df[df["세대구성별"].astype(str).str.strip() == "계"][["행정구역", "고령 인구 수"]].copy()
elder = elder.rename(columns = {"고령 인구 수": "고령자 수"})
solo_elder = df[df["세대구성별"].astype(str).str.strip() == "1인가구"][["행정구역", "고령 인구 수"]].copy()
solo_elder = solo_elder.rename(columns = {"고령 인구 수": "독거 노인 수"})

# elder 데이터프레임과 solo_elder 데이터프레임을 행정구역 기준으로 병합
# elder에 있는 행정구역은 무조건 남기고 solo_elder에 있는 행정구역과 비교 (how="left) 매칭이 안되면 값을 NaN으로 처리
df = elder.merge(solo_elder, on="행정구역", how="left").copy()
df.head(264)

             행정구역  고령자 수  독거 노인 수
0       서울특별시 종로구  27382     6118
1        서울특별시 중구  24360     6187
2       서울특별시 용산구  36473     7441
3       서울특별시 성동구  48758     9647
4       서울특별시 광진구  56766    11148
..            ...    ...      ...
259      경상남도 함양군  13141     4225
260      경상남도 거창군  17867     5362
261      경상남도 합천군  16639     5749
262   제주특별자치도 제주시  80153    16897
263  제주특별자치도 서귀포시  38732     8272

[264 rows x 3 columns]

In [20]:
# 행정구역 열을 전부 문자열로 바꾸고 "\xa0"으로 안깨지는 특수 공백을 일반 공백으로 바꾸고 
# "r"\s+"로 공백 여러개를 하나로 압축하고 .str.strip()로 문자열 앞뒤 공백을 제거함
# 결과적으로 district는 행정구역 정리본임
district = (df["행정구역"].astype(str)
     .str.replace("\xa0", " ", regex=False)
     .str.replace(r"\s+", " ", regex=True)
     .str.strip())

# district 문자열들을 split()을 사용하여 공백 기준으로 나누어 리스트를 만듦
parts = district.str.split()

# parts.str[0]을 사용하여 각 리스트의 첫 단어를 가져오고 parts.str[-1]을 사용하여 각 리스트의 마지막 단어를 가져옴
first = parts.str[0]
last  = parts.str[-1]

# 리스트의 첫 단어가 "도" 또는 "특별자치도" 이고 리스트의 마지막 단어가 "구"인 리스트를 삭제대상으로 만듦
mask_do = first.str.endswith(("도","특별자치도")) & last.str.endswith("구")

print("삭제된 행 개수:", mask_do.sum())

# 앞에 ~을 붙여서 "도"|"특별자치도" + "구"인 문자열들을 FALSE로 만든 다음 삭제
df = df[~mask_do].copy()
df = df.reset_index(drop=True)
df.head(300)

# 시,군,구 개수가 229개인 이유는 226개에서 세종특별자치시와 제주특별자치도 제주시, 서귀포시를 포함한 값임

삭제된 행 개수: 35

             행정구역  고령자 수  독거 노인 수
0       서울특별시 종로구  27382     6118
1        서울특별시 중구  24360     6187
2       서울특별시 용산구  36473     7441
3       서울특별시 성동구  48758     9647
4       서울특별시 광진구  56766    11148
..            ...    ...      ...
224      경상남도 함양군  13141     4225
225      경상남도 거창군  17867     5362
226      경상남도 합천군  16639     5749
227   제주특별자치도 제주시  80153    16897
228  제주특별자치도 서귀포시  38732     8272

[229 rows x 3 columns]

In [22]:
# 전처리된 데이터 저장
df.to_csv("../4_데이터_전처리_자료/시,군,구별 65세 이상 고령자 및 독거 노인 최종.csv", index=False, encoding="utf-8-sig")